.app {
    &--header {
        align-items: center;
        background-color: #eee;
        justify-content: center;
        padding: 1em;

        &-title {
            justify-self: flex-start;
        }

        &-nav {
            justify-self: flex-end;

            ul {
                list-style-type: none;

                li {
                    display: inline-block;
                }
            }
        }
    }

    &--content {
        border: 1px solid #eee;
        border-radius: 0.5em;
        padding: 1em;

        &-image {
            max-width: 100%;
        }
    }

    &--sidebar {
        border: 1px solid #eee;
        border-radius: 0.5em;
        padding: 1em;

        ul {
            list-style-type: none;
            padding: 0;
        }
    }
}