@import './fonts.scss';

.app {
    h1, h2, h3, h4, h5, h6 {
        font-family: $title-font-family;
    }

    &--example {
        border: 1px dashed #999;
        border-radius: 0.5em;
        margin-bottom: 2rem;
        padding: 1em;

        h2 {
            font-size: clamp(1.5em, calc(0.5em + 2vw), 2em);
            margin-top: 0;
            margin-bottom: 0.5rem;
        }

        p {
            font-family: $body-font-family;
            font-size: clamp(1em, calc(0.5em + 1vw), 1.5em);
            margin-bottom: 1rem;
            margin-top: 0;
        }
    }

    &--box {
        align-items: center;
        background-color: #4EABBF;
        border-radius: 0.5em;
        box-shadow: 1px 1px 3px #999; 
        color: white;
        display: flex;
        font-family: $title-font-family;
        font-size: clamp(1em, calc(0.5em + 1vw), 1.5em);
        justify-content: center;
        padding: 1rem;
    }

    &--home-nav {
        align-content: center;
        display: flex;
        justify-content: flex-start;
    }

    &--nav-button {
        &_logo {
            cursor: pointer;
            height: 27px;
            width: 27px;
        }

        &_text {
            color: white;
        }
    }

    &--articles-nav {
        align-content: center;
        display: flex;
        justify-content: flex-end;

        &--list {
            display: flex;
            list-style-type: none;
            margin: 0;

            li {
                cursor: pointer;
                margin-left: 1em;
                text-decoration: underline;
            }
        }
    }
}