@import './fonts.scss';

.source-code-block {
    background-color: #eee;
    border-radius: 1rem;
    padding: 1rem;

    &--show-button {
        border: none;
        color: #4EABBF;
        cursor: pointer;
        font-family: $title-font-family;
        font-size: clamp(0.85em, calc(0.5em + 1vw), 1em);
        padding: 0;

        &:hover {
            text-decoration: underline;
        }
    }

    &--code {
        background-color: transparent;
        display: block;
        font-family: 'Courier New', Courier, monospace;
    }
}